body {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  --nav-before: 0%;
  --nav-before-bgc: #a81cfe;
  --nav-bgc: #f1f1f1;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

.wrapper {
    padding-top: 13.89%;
    padding-left: 4.17%;
    padding-right: 4.17%;
    padding-bottom: 4.63%;
}

#home {
  background-color: #a81cfe;
}

#cards {
  background-color: antiquewhite;
}

#bio {
  background-color: aquamarine;
}

#gallery {
  background-color: blanchedalmond;
}
