* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  --nav-before: 0%;
  --nav-before-bgc: #a81cfe;
  --nav-bgc: #f1f1f1;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h3, {
  font-size: 24px;
  font-weight: 400;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

.wrapper {
  padding-top: 150px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
}

#description {
    color: #888888;
}

#home {
  background-color: #333333;
}

#cards {
  background-color: antiquewhite;
}

#bio {
  background-color: aquamarine;
}

#gallery {
  background-color: blanchedalmond;
}
