#home {
  display: flex;
  flex-wrap: column wrap;
  background-color: #333333;
}

.headline,
.information {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  align-items: start;
  justify-content: start;
}

.information p {
  width: 468px;
}

.info-wrap {
  position: relative;
  background: white;
  padding: 50px 30px;
  display: flex;
  flex-flow: column wrap;
  grid-row-gap: 30px;
  border-radius: 0px 40px 40px 0px;
  margin-right: 40px;
  flex-shrink: 5;
  order: 1;
  justify-content: flex-end;
}

.forms-border-wrap {
  --border-radius: 40px;
  width: 70%;
  background: linear-gradient(135deg, #a91cff, #1043ff);
  flex-shrink: 0.5;
  order: 2;
  border-radius: var(--border-radius) var(--border-radius) 0px
    var(--border-radius);
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.forms {
  --border-width: 13px;
  background: #333333;
  width: 100%;
  margin: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width))
    calc(var(--border-radius) - var(--border-width)) 0px
    calc(var(--border-radius) - var(--border-width));
  padding: 30px 0;
}

.buttons {
  display: flex;
}

.elements {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: block;
}
