#home {
  background-color: #333333;
  position: absolute;
  display: flex;
  justify-content: center;
}

#forms,
.info-wrap {
  padding-top: 150px;
  padding-bottom: 50px;
}

#forms {
  position: relative;
  padding-right: 80px;
  width: 62%;
  height: 81.5%;
  border: solid 13px;
  border-image: linear-gradient(to right, #a91cff, #1043ff) 10;
}

.info-wrap {
  width: 528px;
  height: 880px;
  background-color: #f1f1f1;
  padding-left: 80px;
}
