.info-wrap {
  background: white;
  padding: 50px 30px 50px 30px;
  display: grid;
  grid-row-gap: 30px;
  border-radius: 0px 40px 40px 0px;
  width: 27.5%;
  height: 81.48%;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}
